@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #FFD700;
    display: flex;
    align-items: center;
    & * {
        flex: 1;
    }
}

header h1{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

.imagem-header img{
    width: 150px;
}

.main-index{
    margin: 0 auto;
    justify-content: center;
    padding: 30px;
    max-width: 550px;
}

.formMorador{
    background-color: #FFD700;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 400px;
    border-radius: 10px;
}

.formCarro {
    background-color: #FFD700;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 400px;
    border-radius: 10px;
}

.formCarro h2{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

.formMorador h2{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

.form-div{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.form-div label{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.form-div input{
    border-radius: 10px;
    border: none;
    font-size: 15px;
    width: 350px;
    outline: none;
    padding: 15px;
}

.form-div select{
    width: 350px;
    border: none;
    padding: 15px;
    border-radius: 10px;
    outline: none;
}

.button-form{
    width: 110px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #d75413;
    color: white;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    transition: 0.3s;
}

.button-form:hover{
    background-color: #d75413c3;
    color: black;
    cursor: pointer;
}

table{
    background-color: #f7e8c4;
    border-collapse: collapse;
    text-align: center;
    border-radius: 10px;
    margin: auto;
}

th, td{
    border: 1px solid black;
    padding: 25px;
    width: 100px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.main-listagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.main-listagem h1{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

.link-car-register{
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}